<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <p>Add journal on this page</p>
    </head>

    <body>
        <form action="/show_journals">
            <input type="submit" value="Visa dagbok">
        </form>

        <div class="input_area">
            <textarea name="journal_text" form="journal_form" placeholder="Skriv journal här..." cols="80" rows="20"></textarea>
            <form action="/" id="journal_form" method="post">
                <input type="submit">
            </form>
        </div>


        
    </body>
    
</html>